

@import "{{ site.theme }}";

$background-color: #0d1117 !default; 
$main-content-color: #c9d1d9 !default; 
$link-color: #58a6ff !default; 

body {
  background-color: $background-color;
}

.page-header,
.page-header:before,
.page-header:after {
  background-color: $background-color;
}

.page-header .project-tagline,
.page-header .project-name {
  color: $main-content-color;
}

.content-wrapper {
  background-color: $background-color;
  color: $main-content-color;
}

.page-header a,
.main-content a {
  color: $link-color;
}
