// variables.scss

$body-bg-color: #333;             // dark background
$body-text-color: #fff;           // light text
$body-link-color: #ff6347;        // light link color
$header-bg-color: #2a2a2a;        // slightly darker header background
$border-color: #444;              // dark border color
$code-bg-color: #272727;          // dark code block background
$blockquote-text-color: #bbb;     // slightly lighter blockquote text
$hr-border-color: #444;           // dark horizontal rule color
